AutoHideStripDefault {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(41, 57, 85, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Border: rgba(63, 63, 70, 1.0);
	VS2015BlueTheme-Border: rgba(70, 90, 125, 1.0);
	VS2015LightTheme-Border: rgba(204, 206, 219, 1.0);

	VS2015DarkTheme-Text: rgba(208, 208, 208, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(68, 68, 68, 1.0);

}
AutoHideStripHovered {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(41, 57, 85, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Border: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Border: rgba(155, 167, 183, 1.0);
	VS2015LightTheme-Border: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Text: rgba(0, 151, 251, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(14, 112, 192, 1.0);

}
CommandBarMenuDefault {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(214, 219, 233, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(27, 41, 62, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}
CommandBarMenuPopupDefault {
	VS2015DarkTheme-Arrow: rgba(153, 153, 153, 1.0);
	VS2015BlueTheme-Arrow: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Arrow: rgba(113, 113, 113, 1.0);

	VS2015DarkTheme-BackgroundBottom: rgba(27, 27, 28, 1.0);
	VS2015BlueTheme-BackgroundBottom: rgba(234, 240, 255, 1.0);
	VS2015LightTheme-BackgroundBottom: rgba(246, 246, 246, 1.0);

	VS2015DarkTheme-BackgroundTop: rgba(27, 27, 28, 1.0);
	VS2015BlueTheme-BackgroundTop: rgba(234, 240, 255, 1.0);
	VS2015LightTheme-BackgroundTop: rgba(246, 246, 246, 1.0);

	VS2015DarkTheme-Border: rgba(51, 51, 55, 1.0);
	VS2015BlueTheme-Border: rgba(155, 167, 183, 1.0);
	VS2015LightTheme-Border: rgba(204, 206, 219, 1.0);

	VS2015DarkTheme-Checkmark: rgba(153, 153, 153, 1.0);
	VS2015BlueTheme-Checkmark: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Checkmark: rgba(113, 113, 113, 1.0);

	VS2015DarkTheme-CheckmarkBackground: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-CheckmarkBackground: rgba(233, 236, 238, 1.0);
	VS2015LightTheme-CheckmarkBackground: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-IconBackground: rgba(27, 27, 28, 1.0);
	VS2015BlueTheme-IconBackground: rgba(242, 244, 254, 1.0);
	VS2015LightTheme-IconBackground: rgba(246, 246, 246, 1.0);

	VS2015DarkTheme-Separator: rgba(51, 51, 55, 1.0);
	VS2015BlueTheme-Separator: rgba(190, 195, 203, 1.0);
	VS2015LightTheme-Separator: rgba(224, 227, 230, 1.0);

}
CommandBarMenuPopupDisabled {
	VS2015DarkTheme-Checkmark: rgba(101, 101, 101, 1.0);
	VS2015BlueTheme-Checkmark: rgba(162, 164, 165, 1.0);
	VS2015LightTheme-Checkmark: rgba(162, 164, 165, 1.0);

	VS2015DarkTheme-CheckmarkBackground: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-CheckmarkBackground: rgba(233, 236, 238, 1.0);
	VS2015LightTheme-CheckmarkBackground: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Text: rgba(101, 101, 101, 1.0);
	VS2015BlueTheme-Text: rgba(128, 128, 128, 1.0);
	VS2015LightTheme-Text: rgba(162, 164, 165, 1.0);

}
CommandBarMenuPopupHovered {
	VS2015DarkTheme-Arrow: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Arrow: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Arrow: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Checkmark: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Checkmark: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Checkmark: rgba(30, 30, 30, 1.0);

	VS2015DarkTheme-CheckmarkBackground: rgba(62, 62, 64, 1.0);
	VS2015BlueTheme-CheckmarkBackground: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-CheckmarkBackground: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-ItemBackground: rgba(51, 51, 52, 1.0);
	VS2015BlueTheme-ItemBackground: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-ItemBackground: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(30, 30, 30, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}
CommandBarMenuTopLevelHeaderHovered {
	VS2015DarkTheme-Background: rgba(62, 62, 64, 1.0);
	VS2015BlueTheme-Background: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-Background: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-Border: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}
CommandBarToolbarButtonChecked {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Border: rgba(51, 153, 255, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(51, 153, 255, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}
CommandBarToolbarButtonCheckedHovered {
	VS2015DarkTheme-Border: rgba(51, 153, 255, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(51, 153, 255, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}
CommandBarToolbarButtonDefault {
	VS2015DarkTheme-Arrow: rgba(153, 153, 153, 1.0);
	VS2015BlueTheme-Arrow: rgba(27, 41, 62, 1.0);
	VS2015LightTheme-Arrow: rgba(113, 113, 113, 1.0);

}
CommandBarToolbarButtonHovered {
	VS2015DarkTheme-Arrow: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Arrow: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Arrow: rgba(30, 30, 30, 1.0);

	VS2015DarkTheme-Separator: rgba(51, 51, 55, 1.0);
	VS2015BlueTheme-Separator: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Separator: rgba(238, 238, 242, 1.0);

}
CommandBarToolbarButtonPressed {
	VS2015DarkTheme-Arrow: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Arrow: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Arrow: rgba(255, 255, 255, 1.0);

	VS2015DarkTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Background: rgba(255, 242, 157, 1.0);
	VS2015LightTheme-Background: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(255, 255, 255, 1.0);

}
CommandBarToolbarDefault {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(207, 214, 229, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Border: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Border: rgba(220, 224, 236, 1.0);
	VS2015LightTheme-Border: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Grip: rgba(70, 70, 74, 1.0);
	VS2015BlueTheme-Grip: rgba(96, 114, 140, 1.0);
	VS2015LightTheme-Grip: rgba(153, 153, 153, 1.0);

	VS2015DarkTheme-OverflowButtonBackground: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-OverflowButtonBackground: rgba(220, 224, 236, 1.0);
	VS2015LightTheme-OverflowButtonBackground: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-OverflowButtonGlyph: rgba(153, 153, 153, 1.0);
	VS2015BlueTheme-OverflowButtonGlyph: rgba(27, 41, 62, 1.0);
	VS2015LightTheme-OverflowButtonGlyph: rgba(113, 113, 113, 1.0);

	VS2015DarkTheme-Separator: rgba(34, 34, 34, 1.0);
	VS2015BlueTheme-Separator: rgba(133, 145, 162, 1.0);
	VS2015LightTheme-Separator: rgba(204, 206, 219, 1.0);

	VS2015DarkTheme-SeparatorAccent: rgba(70, 70, 74, 1.0);
	VS2015BlueTheme-SeparatorAccent: rgba(214, 219, 233, 1.0);
	VS2015LightTheme-SeparatorAccent: rgba(245, 245, 245, 1.0);

	VS2015DarkTheme-Tray: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Tray: rgba(214, 219, 233, 1.0);
	VS2015LightTheme-Tray: rgba(238, 238, 242, 1.0);

}
CommandBarToolbarOverflowHovered {
	VS2015DarkTheme-Background: rgba(85, 85, 85, 1.0);
	VS2015BlueTheme-Background: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-Background: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-Glyph: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Glyph: rgba(27, 41, 62, 1.0);
	VS2015LightTheme-Glyph: rgba(0, 122, 204, 1.0);

}
CommandBarToolbarOverflowPressed {
	VS2015DarkTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Background: rgba(255, 242, 157, 1.0);
	VS2015LightTheme-Background: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(27, 41, 62, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
DockTarget {
	VS2015DarkTheme-Background: rgba(27, 27, 28, 1.0);
	VS2015BlueTheme-Background: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Background: rgba(231, 232, 236, 1.0);

	VS2015DarkTheme-Border: rgba(51, 51, 55, 1.0);
	VS2015BlueTheme-Border: rgba(99, 104, 113, 1.0);
	VS2015LightTheme-Border: rgba(204, 206, 219, 1.0);

	VS2015DarkTheme-ButtonBackground: rgba(37, 37, 38, 1.0);
	VS2015BlueTheme-ButtonBackground: rgba(245, 248, 251, 1.0);
	VS2015LightTheme-ButtonBackground: rgba(245, 245, 245, 1.0);

	VS2015DarkTheme-ButtonBorder: rgba(37, 37, 38, 1.0);
	VS2015BlueTheme-ButtonBorder: rgba(138, 145, 156, 1.0);
	VS2015LightTheme-ButtonBorder: rgba(245, 245, 245, 1.0);

	VS2015DarkTheme-GlyphBackground: rgba(37, 37, 38, 1.0);
	VS2015BlueTheme-GlyphBackground: rgba(253, 232, 167, 1.0);
	VS2015LightTheme-GlyphBackground: rgba(245, 245, 245, 1.0);

	VS2015DarkTheme-GlyphArrow: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-GlyphArrow: rgba(68, 88, 121, 1.0);
	VS2015LightTheme-GlyphArrow: rgba(30, 30, 30, 1.0);

	VS2015DarkTheme-GlyphBorder: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-GlyphBorder: rgba(68, 88, 121, 1.0);
	VS2015LightTheme-GlyphBorder: rgba(0, 122, 204, 1.0);

}
MainWindowActive {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(41, 57, 85, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

}
MainWindowStatusBarDefault {
	VS2015DarkTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015LightTheme-Background: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Highlight: rgba(0, 0, 0, 1.0);
	VS2015BlueTheme-Highlight: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Highlight: rgba(0, 0, 0, 1.0);

	VS2015DarkTheme-HighlightText: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-HighlightText: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-HighlightText: rgba(255, 255, 255, 1.0);

	VS2015DarkTheme-ResizeGrip: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-ResizeGrip: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-ResizeGrip: rgba(255, 255, 255, 1.0);

	VS2015DarkTheme-ResizeGripAccent: rgba(0, 0, 0, 1.0);
	VS2015BlueTheme-ResizeGripAccent: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-ResizeGripAccent: rgba(0, 0, 0, 1.0);

	VS2015DarkTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(255, 255, 255, 1.0);

}
OverflowButtonDefault {
	VS2015DarkTheme-Glyph: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Glyph: rgba(206, 212, 221, 1.0);
	VS2015LightTheme-Glyph: rgba(113, 113, 113, 1.0);

}
OverflowButtonHovered {
	VS2015DarkTheme-Background: rgba(62, 62, 64, 1.0);
	VS2015BlueTheme-Background: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-Background: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-Border: rgba(62, 62, 64, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-Glyph: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(0, 122, 204, 1.0);

}
OverflowButtonPressed {
	VS2015DarkTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Background: rgba(255, 232, 166, 1.0);
	VS2015LightTheme-Background: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Border: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
TabButtonSelectedActiveHovered {
	VS2015DarkTheme-Background: rgba(28, 151, 234, 1.0);
	VS2015BlueTheme-Background: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-Background: rgba(28, 151, 234, 1.0);

	VS2015DarkTheme-Border: rgba(28, 151, 234, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(28, 151, 234, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
TabButtonSelectedActivePressed {
	VS2015DarkTheme-Background: rgba(14, 97, 152, 1.0);
	VS2015BlueTheme-Background: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-Background: rgba(14, 97, 152, 1.0);

	VS2015DarkTheme-Border: rgba(14, 97, 152, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(14, 97, 152, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
TabButtonSelectedInactiveHovered {
	VS2015DarkTheme-Background: rgba(85, 85, 85, 1.0);
	VS2015BlueTheme-Background: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-Background: rgba(230, 231, 237, 1.0);

	VS2015DarkTheme-Border: rgba(85, 85, 85, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(230, 231, 237, 1.0);

	VS2015DarkTheme-Glyph: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(113, 113, 113, 1.0);

}
TabButtonSelectedInactivePressed {
	VS2015DarkTheme-Background: rgba(27, 27, 28, 1.0);
	VS2015BlueTheme-Background: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-Background: rgba(183, 185, 197, 1.0);

	VS2015DarkTheme-Border: rgba(27, 27, 28, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(183, 185, 197, 1.0);

	VS2015DarkTheme-Glyph: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(45, 45, 45, 1.0);

}
TabButtonUnselectedTabHoveredButtonHovered {
	VS2015DarkTheme-Background: rgba(82, 176, 239, 1.0);
	VS2015BlueTheme-Background: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-Background: rgba(82, 176, 239, 1.0);

	VS2015DarkTheme-Border: rgba(82, 176, 239, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(82, 176, 239, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
TabButtonUnselectedTabHoveredButtonPressed {
	VS2015DarkTheme-Background: rgba(14, 97, 152, 1.0);
	VS2015BlueTheme-Background: rgba(253, 244, 191, 1.0);
	VS2015LightTheme-Background: rgba(14, 97, 152, 1.0);

	VS2015DarkTheme-Border: rgba(14, 97, 152, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(14, 97, 152, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
TabSelectedActive {
	VS2015DarkTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Background: rgba(255, 242, 157, 1.0);
	VS2015LightTheme-Background: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Button: rgba(208, 230, 245, 1.0);
	VS2015BlueTheme-Button: rgba(117, 99, 61, 1.0);
	VS2015LightTheme-Button: rgba(208, 230, 245, 1.0);

	VS2015DarkTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(255, 255, 255, 1.0);

}
TabSelectedInactive {
	VS2015DarkTheme-Background: rgba(63, 63, 70, 1.0);
	VS2015BlueTheme-Background: rgba(77, 96, 130, 1.0);
	VS2015LightTheme-Background: rgba(204, 206, 219, 1.0);

	VS2015DarkTheme-Button: rgba(109, 109, 112, 1.0);
	VS2015BlueTheme-Button: rgba(206, 212, 221, 1.0);
	VS2015LightTheme-Button: rgba(109, 109, 112, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(113, 113, 113, 1.0);

}
TabUnselected {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(54, 78, 111, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Text: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}
TabUnselectedHovered {
	VS2015DarkTheme-Background: rgba(28, 151, 234, 1.0);
	VS2015BlueTheme-Background: rgba(91, 113, 153, 1.0);
	VS2015LightTheme-Background: rgba(28, 151, 234, 1.0);

	VS2015DarkTheme-Button: rgba(208, 230, 245, 1.0);
	VS2015BlueTheme-Button: rgba(206, 212, 221, 1.0);
	VS2015LightTheme-Button: rgba(208, 230, 245, 1.0);

	VS2015DarkTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(255, 255, 255, 1.0);

}
ToolWindowBorder {
	VS2015DarkTheme: rgba(63, 63, 70, 1.0);
	VS2015BlueTheme: rgba(142, 155, 188, 1.0);
	VS2015LightTheme: rgba(204, 206, 219, 1.0);
}
ToolWindowCaptionActive {
	VS2015DarkTheme-Background: rgba(0, 122, 204, 1.0);
	VS2015BlueTheme-Background: rgba(255, 242, 157, 1.0);
	VS2015LightTheme-Background: rgba(0, 122, 204, 1.0);

	VS2015DarkTheme-Button: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Button: rgba(117, 99, 61, 1.0);
	VS2015LightTheme-Button: rgba(255, 255, 255, 1.0);

	VS2015DarkTheme-Grip: rgba(89, 168, 222, 1.0);
	VS2015BlueTheme-Grip: rgba(255, 242, 157, 1.0);
	VS2015LightTheme-Grip: rgba(89, 168, 222, 1.0);

	VS2015DarkTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(255, 255, 255, 1.0);

}
ToolWindowCaptionButtonActiveHovered {
	VS2015DarkTheme-Background: rgba(82, 176, 239, 1.0);
	VS2015BlueTheme-Background: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-Background: rgba(82, 176, 239, 1.0);

	VS2015DarkTheme-Border: rgba(82, 176, 239, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(82, 176, 239, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
ToolWindowCaptionButtonInactiveHovered {
	VS2015DarkTheme-Background: rgba(57, 57, 57, 1.0);
	VS2015BlueTheme-Background: rgba(255, 252, 244, 1.0);
	VS2015LightTheme-Background: rgba(247, 247, 249, 1.0);

	VS2015DarkTheme-Border: rgba(57, 57, 57, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(247, 247, 249, 1.0);

	VS2015DarkTheme-Glyph: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(113, 113, 113, 1.0);

}
ToolWindowCaptionButtonPressed {
	VS2015DarkTheme-Background: rgba(14, 97, 152, 1.0);
	VS2015BlueTheme-Background: rgba(255, 232, 166, 1.0);
	VS2015LightTheme-Background: rgba(14, 97, 152, 1.0);

	VS2015DarkTheme-Border: rgba(14, 97, 152, 1.0);
	VS2015BlueTheme-Border: rgba(229, 195, 101, 1.0);
	VS2015LightTheme-Border: rgba(14, 97, 152, 1.0);

	VS2015DarkTheme-Glyph: rgba(255, 255, 255, 1.0);
	VS2015BlueTheme-Glyph: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Glyph: rgba(255, 255, 255, 1.0);

}
ToolWindowCaptionInactive {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(77, 96, 130, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Button: rgba(241, 241, 241, 1.0);
	VS2015BlueTheme-Button: rgba(206, 212, 221, 1.0);
	VS2015LightTheme-Button: rgba(30, 30, 30, 1.0);

	VS2015DarkTheme-Grip: rgba(70, 70, 74, 1.0);
	VS2015BlueTheme-Grip: rgba(77, 96, 130, 1.0);
	VS2015LightTheme-Grip: rgba(153, 153, 153, 1.0);

	VS2015DarkTheme-Text: rgba(208, 208, 208, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(68, 68, 68, 1.0);

}
ToolWindowSeparator {
	VS2015DarkTheme: rgba(63, 63, 70, 1.0);
	VS2015BlueTheme: rgba(75, 92, 116, 1.0);
	VS2015LightTheme: rgba(204, 206, 219, 1.0);
}
ToolWindowTabSelectedActive {
	VS2015DarkTheme-Background: rgba(37, 37, 38, 1.0);
	VS2015BlueTheme-Background: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Background: rgba(245, 245, 245, 1.0);

	VS2015DarkTheme-Text: rgba(0, 151, 251, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(14, 112, 192, 1.0);

}
ToolWindowTabSelectedInactive {
	VS2015DarkTheme-Background: rgba(37, 37, 38, 1.0);
	VS2015BlueTheme-Background: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Background: rgba(245, 245, 245, 1.0);

	VS2015DarkTheme-Text: rgba(0, 151, 251, 1.0);
	VS2015BlueTheme-Text: rgba(0, 0, 0, 1.0);
	VS2015LightTheme-Text: rgba(14, 112, 192, 1.0);

}
ToolWindowTabUnselected {
	VS2015DarkTheme-Background: rgba(45, 45, 48, 1.0);
	VS2015BlueTheme-Background: rgba(77, 96, 130, 1.0);
	VS2015LightTheme-Background: rgba(238, 238, 242, 1.0);

	VS2015DarkTheme-Text: rgba(208, 208, 208, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(68, 68, 68, 1.0);

}
ToolWindowTabUnselectedHovered {
	VS2015DarkTheme-Background: rgba(62, 62, 64, 1.0);
	VS2015BlueTheme-Background: rgba(91, 113, 153, 1.0);
	VS2015LightTheme-Background: rgba(201, 222, 245, 1.0);

	VS2015DarkTheme-Text: rgba(85, 170, 255, 1.0);
	VS2015BlueTheme-Text: rgba(255, 255, 255, 1.0);
	VS2015LightTheme-Text: rgba(30, 30, 30, 1.0);

}

