<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="LogDirectory" value=".\Logs"/>

  <targets>
    <target xsi:type="Console" name="Console" layout="${longdate}    ${level}    ${message}"/>
    <target xsi:type="File" name="TotalLog" fileName="${LogDirectory}\TotalLog_${shortdate}.log"
            layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${logger}    ${message}    ${exception:format=tostring}" />
    <target xsi:type="File" name="StockerLog" fileName="${LogDirectory}\StockerLog_${shortdate}.log"
            layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${logger}    ${message} ${exception:format=tostring}    url: ${aspnet-request-url}    action: ${aspnet-mvc-action}" />
    <target xsi:type="File" name="DangerLog" fileName="${LogDirectory}\DangerLog_${shortdate}.log"
            layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${logger}    ${message} ${exception:format=tostring}    url: ${aspnet-request-url}    action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TotalLog" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="StockerLog" />
    <logger name="*" minlevel="Warn" writeTo="DangerLog" />
  </rules>
</nlog>